/* Общее */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 40px;
}


/* Блок 1 */
.block1{
    background: rgb(65,150,238);
    background: linear-gradient(0deg, rgba(65,150,238,1) 0%, rgba(122,188,255,1) 100%);
}

.block1_container{
    display: flex;
    flex-direction: row;
}

.block1_button {
    background-color: #FFD428;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}

.block1_TextBlock {
    padding: 3% 8%;
    width: 400px;
}


/* Блок 2 */
.block2{
    background: white;
    
}

.block2_TextMain{
    text-align: center;
}

.block2_Row{
    display: flex;
    flex-direction: row;
}

.block2_Row_Item > p{
    padding: 10px;
}
.block2_Row_Item > img{
    padding: 10px;
}

.block2_Row_Item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}


/* Блок 3 */
.block3{
    background: #ECF3F8;
}

.block3_Form {
    padding: 50px 50px;
    margin: 0 25%;
}
input, textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}
.form_button {
    background-color: #FFD428;
    border: none;
    color: black;
    padding: 14px 32px;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    box-sizing: border-box;
}


/* Блок 4 */
.block4{
    background: linear-gradient(0deg, rgba(65,150,238,1) 0%, rgba(122,188,255,1) 100%);
}